* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%; /* 100% = 16px */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* Marco el HEADER de el resto de la pagina */
.arq-ramirez-header
{
    background-color: #616161;
    display: block;
    display: flex;
    flex-direction: row;
}
.header-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.marca-container {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-container {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-r {
    width: 4.3rem;
    height: 5.5rem;
    margin: 1rem;
}

.titulo-white-header {
    font-family: 'Lato', 'Roboto',sans-serif;
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    word-spacing: 6px;
    font-weight: 300;
    display: inline-block;
}

.titulo-white-style {
    font-family: 'Lato', 'Roboto',sans-serif;
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    word-spacing: 6px;
    font-weight: 300;
    display: inline-block;
}
/* Arreglos al MENU en gnrl */
/* HTML Nav Styles */

.no-padding {
    padding: 0px !important; 
}

.to-the-back {
    z-index: -10;
}
nav li {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
    z-index: 10;
}
nav li > ul {
    position: absolute;
    pointer-events:none;
}
nav > ul { 
    display:flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 2px;
} 
nav > ul > li {
    pointer-events: all;
    opacity:1; 
}
ul li a {
    white-space:nowrap; 
    display:block; 
}    
li:hover > ul {
    pointer-events:initial;
}
li:hover > ul > li, ul:hover > li {
    opacity:1;
}
nav > ul > li li ul {
    transform:translateX(100%);
    top:0; right:0;
}
nav { 
display: flex;
justify-content: center;
align-items: center;
}
.menu-menu-item-box {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 0.0625rem;
    word-spacing: 0.1875rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #616161;
    min-width: 8rem;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0rem 0.2rem 0.2rem 0rem;
    padding: 0.8rem 0rem 0.8rem 0.8rem;
    box-sizing:border-box;
    border-radius:0.1875rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    position:relative;
    z-index: 10;
}
.menu-item-box {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 0.0625rem;
    word-spacing: 0.1875rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #616161;
    min-width:11.5rem;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0rem 0.2rem 0.2rem 0rem;
    padding: 0.8rem 0rem 0.8rem 0.8rem;
    box-sizing:border-box;
    border-radius:0.1875rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    position:relative;
    z-index: 10;
}
.menu-item-box:hover {
    color: white;
}

.menu-menu-item-box:hover {
    color: white;
}
.menu-item-box:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
    
} 
nav > ul > li > a + ul:after{
    content: '';
    position:absolute;
    border: 0.625rem solid transparent;
    border-top: 0.625rem solid white;
    left:0.75rem;
    top: -2.5rem;  
}
nav li > ul > li > a + ul:after{ 
    content: '';
    position:absolute;
    border: 0.625rem solid transparent;
    border-left: 0.625rem solid white;
    top: 1.25rem;
    left:-11.25rem;
    transition: opacity 0.6, transform 0s;
} 
nav > ul > li > ul > li {
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
}
nav > ul > li:hover > ul > li, nav > ul > li.hover > ul > li{
    transform:translateY(0%);
    opacity: 1;
} 
li > ul > li > ul > li{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(120.1875rem­­) translateY(0%);
    opacity: 0;
} 
li > ul > li:hover > ul > li,  
li > ul > li:hover > ul > li{  
    transform:translateX(0%) translateY(0%);
    opacity: 1;
}

.titulos {
    font-family: 'Lato', 'Roboto',sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.258rem;
    text-transform: uppercase;
    color: #3E3636;
    word-spacing: 0.358rem;
    font-weight: 300;
    padding: 1rem;
}

.otros-proy-titulos-carouseles {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.formato-texto {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    color: #3E3636;
    word-spacing: 0.1875rem;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    padding: 1rem;
}

/* FOOTER */

.arq-ramirez-footer {
    background-color: #616161;
    display: block;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#copyright {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    color: white;
    word-spacing: 0.1875rem;
    font-size: 1.3rem;
    font-weight: 300;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

#redes-sociales-links {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}
/* logos del footer */

.logo {
    padding: 0.2rem;
    margin: 0.2rem;
}

/* TRANSITION LOGOS FOOTER */

#instagram-logo {
    transition: all 0.6s;
}

#instagram-logo:hover {
    transform: scale(1.2);
}

#linkedin-logo {
    transition: all 0.6s;
}

#linkedin-logo:hover {
    transform: scale(1.2);
}

#facebook-logo {
    transition: all 0.6s;
}

#facebook-logo:hover {
    transform: scale(1.2);
}

#behance-logo {
    transition: all 0.6s;
}

#behance-logo:hover {
    transform: scale(1.2);
}

#pinterest-logo {
    transition: all 0.6s;
}

#pinterest-logo:hover {
    transform: scale(1.2);
}

/* CONTACTO */

.form-container h2 {
    margin-left: 15px;
    padding: 16px 16px 0px 16px;
}
.contacto-container {
    display: flex;
    flex-direction: column;
}

.fila-contacto-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.titulo-contacto {
    font-family: 'Lato', 'Roboto',sans-serif;
    font-size: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3E3636;
    word-spacing: 6px;
    font-weight: 300;
    display: inline-block;
    padding: 16px;
}

.texto-contacto {
    text-decoration: none;
    text-transform: none;
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: #3E3636;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    padding: 16px;
    margin: 0px;
}


.form-nombre-apellido {
    margin: 15px;
}

.form-mail-mensaje {
    margin: 15px;
}

.formato-boton {
    background-color: #3E3636;
    font-family: 'Lato', 'Roboto',sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-left: 15px;
}

/* IMAGENES */
/* Imagenes Home */
#logo {
    width: 4.5%;
    height: 4.5%;
    padding: 1rem;
    display: inline-block;
}

.img-carousel {
    width: 100%;
    height: 30%;
}
.fondo {
    width: 100%;
    height: 100%;
}

/* NOSOTROS GRID RESPONSIVE*/

.nosotros-grid-item {
    margin: 0px;
    padding: 0px;
}

#nosotros-grid-item-titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nosotros-grid-item-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-texto {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.nosotros-texto-formato {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    word-spacing: 3px;
    font-size: 18px;
    font-weight: 300;
    padding: 16px;
}

/* Imagenes NOSOTROS */

.img-nosotros {
    width: 100%;
    height: 100%;
}

.img-nosotros-efect {
    transition: opacity .5s ease-in-out;
}

/* TRANSITION */

.nosotros-grid-item:hover .img-nosotros-efect {
    opacity: 0.2;
}

.nosotros-grid-item:hover .nosotros-texto {
    opacity: 1;
}

/* DECO STUDIO GRID RESPOSIVE*/

.deco-container {
    margin: 0px;
}

.deco-grid-item {
    margin: 0px;
    padding: 0px;
}

#deco-grid-item-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deco-grid-item-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deco-titulo {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.img-fondo {
    background-color: #3E3636;
}

.deco-texto {
    font-family: 'Lato', 'Roboto',sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    word-spacing: 3px;
    font-size: 18px;
    font-weight: 300;
    padding: 16px;
}

/* Imagenes Deco Studio */

.img-decostudio {
    width: 100%;
    height: 100%;
}

.img-decostudio-efect {
    transition: opacity .5s ease-in-out;
}

/* TRANSITION */

.deco-grid-item:hover .img-decostudio-efect {
    opacity: 0.2;
}

.deco-grid-item:hover .deco-titulo {
    opacity: 1;
}

/* OTROS PROY GRID */

.img-otros-proy {
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
}

.otros-proy-container {
    margin: 0px;
}

.otros-proy-container div div a {
    background-color: #3E3636;
}

.otros-proy-grid-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/* CASAS TRANSITION HOVER APARECE TITULO SOBRE LA IMAGEN */

.otros-proy-grid-item:hover .img-otros-proy {
    opacity: 0.3;
}

.otros-proy-titulos {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.otros-proy-grid-item:hover .otros-proy-titulos {
    opacity: 1;
}

/* CAROUSEL OTROS PROY */

/* .carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: o.5rem;
} */

.img-carousel-size {
    height: 100%;
    width: 100%;
}

/* CASAS GRID */

#casas-grid-item-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #3E3636;
}

/* Imagenes Casas */

.img-casas {
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
}
.casas-container {
    margin: 0rem;
    padding: 0rem;
}

.bg-img-casas {
    background-color: #3E3636;
}

.casas-grid-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/* CASAS TRANSITION HOVER APARECE TITULO SOBRE LA IMAGEN */

.casas-grid-item:hover .img-casas {
    opacity: 0.3;
}

.casas-titulos {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.casas-grid-item:hover .casas-titulos {
    opacity: 1;
}

/* HOME */

    #home-container {
        background-image: url("https://i.ibb.co/0CHn3YK/20201105-113132.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        width: 100%;
    }
    
    .home-article {
        background-color: #3E3636;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .home-article h2 {
        font-family: 'Lato', 'Roboto',sans-serif;
        font-size: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: white;
        word-spacing: 6px;
        font-weight: 300;
        display: inline-block;
        padding: 16px;
    }
    
    .home-article p {
        font-family: 'Lato', 'Roboto',sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 300;
        display: inline-block;
        padding: 24px;
    }


