@import '../BASE/mixins';
@import '../BASE/variables';
@import '../BASE/extends';

#casas-grid-item-1 {
    background-color: #3E3636;
    @include flex(flex, row, flex-end, center, wrap)
}
.bg-img-casas {
    background-color: #3E3636;
}
.casas-grid-item {
    @include boxmodel(0rem, 0rem);
    @include flex(flex, row, flex-end, center, wrap)
}
.casas-titulos {
    @extend %position-absolute-transition
}

.proy-grid-item {
    @include boxmodel(1rem, 0rem);
    @include flex(flex, row, flex-end, center, wrap);
}

#proyectos-grid-item {
    background-color: $white;
    @include flex(flex, row, flex-end, center, wrap);
}

.no-padding-top {
    padding: 1rem;
    padding-top: 0rem;
}

.no-padding-bottom {
    padding: 1rem;
    padding-bottom:  0rem;
}