@import '../BASE/mixins';
@import '../BASE/variables';
@import '../BASE/extends';

.home-container {
    background-image: url("https://i.ibb.co/0CHn3YK/20201105-113132.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
}
.home-grid .home-article {
        background-color: #616161;
        @include boxmodel(2rem, 0rem);
        @include flex(flex, row, space-around, center, wrap)
}


