@import '../BASE/mixins';
@import '../BASE/variables';
@import '../BASE/extends';

.otros-proy-titulos-carouseles {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.otros-proy-container {
    @include boxmodel(0px, 0px)
}
.otros-proy-container div div a {
    background-color: $dark-grey;
}
.otros-proy-grid-item {
    @include boxmodel(0px, 0px);
    @include flex(flex, row, flex-end, center, nowrap)
}
.otros-proy-titulos {
    @extend %position-absolute-transition
}

